name: buyer_centric_app_v2
description: "Buyer Centric App"

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  # connectivity_plus: ^6.1.3
  cupertino_icons: ^1.0.8
  svg_image: ^0.0.5
  flutter_svg: ^2.0.17
  google_fonts: ^6.2.1
  device_preview: ^1.2.0
  provider: ^6.1.2
  flutter_riverpod: ^2.4.9
  cloud_firestore: ^5.6.5
  firebase_auth: ^5.5.0
  firebase_core: ^3.12.0
  firebase_storage: ^12.4.4
  firebase_database: ^11.3.4
  dotted_border: ^2.1.0
  image_picker: ^1.1.2
  path: ^1.9.1
  intl: ^0.19.0


dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true

  assets:
    - assets/
    - assets/svg/
    - assets/images/
    - assets/icons/
    # - assets/svg/logo.svg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
